<div class="container-fluid vh-100 login">
    <div class="row h-100">

        <!-- LEFT PANEL -->
        <div
            class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center text-white left-panel">

            <div class="bg-white bg-opacity-25 rounded-4 d-flex align-items-center justify-content-center mb-4"
                style="width:80px;height:80px;">
                <i class="fa-solid fa-graduation-cap fs-3"></i>
            </div>

            <h1 class="fw-medium fs-4">BD Management System</h1>

            <p class="mt-3 w-75 opacity-75">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe veritatis placeat veniam illum nobis
                officia?
            </p>

            <div class="d-flex gap-5 mt-5">
                <div>
                    <h3 class="fw-semibold">500+</h3>
                    <small>Dummy</small>
                </div>
                <div>
                    <h3 class="fw-semibold">50K+</h3>
                    <small>Dummy</small>
                </div>
                <div>
                    <h3 class="fw-semibold">99.9%</h3>
                    <small>Dummy</small>
                </div>
            </div>

        </div>

        <!-- RIGHT PANEL -->
        <div class="col-md-6 col-xxl-5 mx-auto d-flex align-items-center bg-light">

            <div class="w-100 px-5">

                <div class="mx-auto">

                    <h4 class="fw-semibold">Welcome back</h4>
                    <p class="text-muted mb-4">Select a role to login with demo credentials</p>



                    <!-- Form -->
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control form-control-lg fs-14" value="gangaram@bagla.com">
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control form-control-lg fs-14" value="12345678">
                    </div>

                    <button class="btn btn-primary w-100 py-2 fw-medium login-btn" routerLink="/dashboard">
                        Login as Admin
                    </button>

                    <p class="text-center mt-3 small text-muted">
                        Demo credentials are pre-filled. Click login to continue.
                    </p>

                </div>

            </div>

        </div>

    </div>
</div>